{% extends "modeler/base.html" %}

{% block style %}
.vertical { font-size: 11px; }
.vertical td.label { font-weight: bold; text-align: right; }
{% endblock %}

{% block script %}
$(document).ready(function() {
   $(".card").wrapInner("<div class='hugger' />");

    // add a collapser to each card, too
    $("<div class='collapser'></div>")
        .click(function() {
            $(this).closest(".card").find(".content").slideToggle(300, function() {
                if (!$(this).is(":visible"))
                    $(this).closest(".card").addClass("collapsed");
                else
                    $(this).closest(".card").removeClass("collapsed");
            });
        })
        .appendTo(".card.section");
});
{% endblock %}

{% block content %}
    <div id="ohmage" class="section card">
        <h2>Ohmage Authentication</h2>
        <div class="content">
            <p class="desc">Enter your credentials for ohmage data import.</p>

            <form method="POST">
                <table class="vertical">
                    <tr><td class="label">Username</td><td><input type="text" name="ohmage_username" /></td></tr>
                    <tr><td class="label">Password</td><td><input type="text" name="ohmage_password" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Log In" /></td></tr>
                </table>
            </form>
        </div>
    </div>

    <div id="tasks" class="section card">
        <h2>Task Queue</h2>
        <div class="content">
            <p class="desc">These are your tasks and their current progress</p>


        </div>
    </div>

    <div id="traces" class="section card">
        <h2>Traces</h2>
        <div class="content">
            <p class="desc">Below are projections of your data over time.</p>
        </div>
    </div>

    <div id="clusters" class="section card">
        <h2>Models</h2>
        <div class="content">
            <p class="desc"></p>
        </div>
    </div>

    <div id="summary" class="section card">
        <h2>Behavior Overview</h2>
        <div class="content">
            <p class="desc"></p>
        </div>
    </div>
{% endblock %}