html { overflow-y: scroll; }

body {
    font-family: Tahoma, sans-serif; margin: 0; padding: 0;
    background: #ccc;
}

a { text-decoration: none; color: #5e89bc; }

#trunk {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

#header {
    /* ??? */
}

#header h1 { margin: 5px 0px 10px 0px; }

#footer {
    font-size: 11px; color: #555; padding: 0px 20px 20px 40px;
}

/* content area formatting */

.card {
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    border: solid 1px #ccc;
    margin: 10px 0px; padding: 0; position: relative;
}

.card .collapser {
    cursor: pointer;
    position: absolute; left: 0px; top: 0px; font-size: 24px; font-weight: bold;
    width: 20px; height: 30px; padding: 5px 10px;
    border-bottom: solid 1px white;

    background-color: white;
    background-image: url('/static/icons/cc/black/sq_minus_icon&24.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
 }

.card.collapsed .collapser {
    background-image: url('/static/icons/cc/black/sq_plus_icon&24.png');
}

.card .hugger { border-left: solid 40px #eee; padding-left: 5px; }

.section h2 { margin: 5px 0px 0px 10px; padding-bottom: 6px; }

.section .content { padding: 0; margin: 0; }

.section p.desc {
    font-size: smaller;
}

