<!DOCTYPE html>

<html>
    <head>
        <title>Routine Modeler v0.1 :: {% block title %}home{% endblock %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}modeler/css/modeler.css" />

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>

        <style>
            {% block style %}{% endblock %}
        </style>

        <script type="text/javascript">
            {% block script %}{% endblock %}
        </script>
    </head>

    <body>
        <div id="header">
            <h1>Routine Modeler v0.1</h1>
        </div>

        <div id="trunk">
            <div id="sidebar">
                <ul>
                    <li>Authentication</li>
                    <li>Tasks</li>
                    <li>Traces</li>
                    <li>Models</li>
                    <li>Summary</li>
                </ul>
            </div>

            <div id="content">
            {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            Copyright © 2012 MobilizeLabs - all rights reserved
        </div>
    </body>
</html>